/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*  CSSZIN  */

body {
    font-family: sans-serif;
    font-weight: bold;
}

header {
    background-color: #333;
}

/*  NAVBAR  */

.navbar {
    align-items: center;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 4%;
    top: 2%;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
}

#myLinks {
    align-items: center;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: flex;
    text-transform: uppercase;
}

#myLinks a {
    padding: 2vh 2vh;
    margin: 0 1vh;
}
#myLinks a:hover {
    background: #fff;
    color: #333;
}

#myLinks a:nth-child(3){
    margin-right: 4vh;
}

/*  HAMBURGER BUTTON  */

.navButton {
    background-color: transparent;
    border: transparent;
    --button-color: #ffffff;
    display: none;
    overflow: hidden;
    position: absolute;
    right: 5%;
    top: 1%;
}

.navButton svg {
    width: 5vh;
}
  
.navButton .hamburger {
    transition: translate 1s, rotate 1s;
}
  
.navButton[aria-expanded="true"] .hamburger {
    translate: 0 0;
    rotate: 0.125turn;
}
  
.navButton .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}
  
.navButton[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

/*  LANDING PAGE  */

/* Initial Photos*/

.initialPage {
    position: relative;
    overflow: hidden;
    height: 60vh;
    width: 100%;
}

.initialPhotos {
    position: absolute;
    top: 10;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.initialPhotos.current {
    opacity: 1;
}

.initialPhotos:first-child {
    background-color: #333;
}

.initialPhotos:nth-child(2) {
    background-color: brown;
}

.initialPhotos:nth-child(3) {
    background-color: burlywood;
}

.initialPage .content {
    position: absolute;
    bottom: 40%;
    left: 20%;
    background-color: #dddddd60;
    width: 35%;
    opacity: 0;
    padding: 20px;
}

.initialPage .content h1 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: large;
}

.initialPhotos.current .content {
    left: 20%;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.changePhoto {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    height: 5px;
    width: 25px;
    border: solid 1px #ffffffff;
    z-index: 1000;
}

.changePhoto.pLeft {
    left: 47%;
    background-color: #ffffff;
}

.changePhoto.pRight {
    left: 53%;
}

.changePhoto:hover {
    background-color: #dddddd50;
}

/* arrows */

.carousel {
    position: relative;
    width: 100%;
    transition: all 1s ease-in-out;
}
  
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
  
.carousel-arrow.left {
    left: 20px;
    transform: translateY(-130px);
}
  
.carousel-arrow.right {
    right: 20px;
    transform: translateY(-130px);
}
  
.carousel-arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-arrow:hover {
    background-color: transparent;
    transform: translateY(-130px) scale(1.6);
    transition: all s ease-in-out;
}

/*  LANDING PAGE BOXES*/

.lpBoxes {
    align-items: center;
    display: flex;
    justify-content: center;
}

.box1, .box2, .box3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5vh;    
    max-width: 16%;
    z-index: 1000;
}

.box1 {
    background: #f9f9f9;
}

.box2 {
    background: #d2d2d2;
}

.box3 {
    background: #a7a5a5;
}

.box1 img, .box2 img, .box3 img {
    height: 5vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.box1 h2, .box2 h2, .box3 h2 {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 3vh;
    text-transform: uppercase;
}

.box1 h4, .box2 h4, .box3 h4 {
    font-size: 1.5vh;
    padding: 0 5vh 5vh 5vh;
    text-align: center;
}

/*  O QUE FAZEMOS  */

.oqfzTxt {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.oqfzTxt h2 {    
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5vh;
    text-transform: uppercase;
}

.oqfzTxt h4 {
    color: #333333eb;
    font-size: 2.5vh;
    font-weight: 300;
    max-width: 800px;
    text-align: center;
}

.oqfzF {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oqfz {
    align-items: center;   
    background-color: #a7cfda48;
    border-top: solid 3px #dddddd;
    border-radius: 5px;
    border: 3px solid #dddddd98;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    margin: 5vh 2vh;
    padding: 1vh 5vh 3vh 5vh;
    transition: all 0.5s;
}

.oqfz:hover {
    -webkit-box-shadow: 0px 19px 60px -23px #9e9e9e;
    -moz-box-shadow: 0px 19px 60px -23px #9e9e9e;
    box-shadow: 0px 19px 60px -23px #9e9e9e;
    border-top: 3px solid #3ddf43d3;
}

.oqfz img {
    width: 280px;
}

.oqfz h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.oqfz h4 {
    font-weight: 300;
    max-width: 280px;
    margin-bottom: 2vh;
    text-align: center;
}

/* Deposições */

.depoTemplate {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #dddddd;
    text-align: center;
    overflow: hidden;
}

.depoTemplate h1 {
    font-size: 32px;
    padding-top: 30px;
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: #ffffff 0.5px solid;
    margin-top: 0;
}

.depoTemplate p {
    width: 500px;
    font-size: smaller;
    font-weight: 100;
}


.dialogTemplate {
    display: relative;
    width: 100%;
    height: 23vh;
    transition: all 1s linear;
}

.dialogBox {
	position: absolute;
	max-width: 30em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
    -webkit-box-shadow: 26px 11px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 26px 11px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 26px 11px 27px 0px rgba(0,0,0,0.75);
    color: #484848b5;
    animation: boxAnimation 5s ease-in-out infinite;
    font-style: italic;
    font-stretch: expanded;
    left: 29%;


}

.dialogBox::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 98%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    rotate: 180deg;

}

@keyframes boxAnimation {
    0% {
      line-height: 30px;
      transform: translateY(-5px);
    }
    55% {
      transform: translateY(-15px);
    }
    60% {
      line-height: 30px;
    }
    100% {
      line-height: 30px;
      transform: translateY(-5px);
    }
  }

.depoInfo {
    position: absolute;
    margin-top: 120px;
    margin-left: 450px;
    text-align: start;
}

.dialogImage {
    position: absolute;
    background-color: #9e9e9e;
    border-radius: 100%;
    height: 20vh;
    width: 20vh;
    left: 25vh;
    top: 267vh;
    border: double 5px #d1642598;
}

@keyframes changeDepo {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    10% {
      transform: translateX(-800px);
      opacity: 0;
    }
    16% {
      transform: translateX(800px);
      opacity: 0;
    }
    30% {
      transform: translateX(0);
      opacity: 1;
    }
  }

/*  DOAÇÕES  */

.doaSec {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.doaImg {
    align-items: center;
    display: flex;
}

.doaImg img {
    height: 90vh;
}


.doaTxt {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.doaTxt h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

.doaTxt h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10vh;
    max-width: 80%;
    text-align: center;
}

.doaTxt li {
    font-size: 16px;
}

.doaTxt button {
    background: #333;
    border: transparent;
    border-radius: 6px;
    color: #fff;
    height: 6vh;
    margin: 10vh 0;
    text-transform: uppercase;
    width: 15vh;
}


/*  NOTÍCIAS  */

.news {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.newsHead h2 {
    font-size: 48px;
    text-transform: uppercase;
    margin: 10vh 0;
}

.newsContent {
    align-items: center;
    display: flex;
}

.newsBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.newsBlock img {
    height: 40vh;
    margin-bottom: 2vh;
}

.newsBlock h3 {
    font-size: 20px;
    margin-bottom: 2vh;
    max-width: 80%;
}
.newsBlock p {
    font-weight: 300;
    margin-left: -14vw;
    margin-bottom: 2vh;
}
.newsBlock h4 {
    font-size: 24px;
    font-weight: 300;
    max-width: 80%;
    margin-bottom: 20vh;
}

/*  FOOTER  */

footer {
    background: #333;
}

.footCols {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.footCol2, .footCol3, .footCol4 {
    color: #fff;
    padding: 10vh;
}

.footCol3 {
    padding-right: 15vh;
}

.footCol4 {
    border-left: 1px solid #fff;
    padding-left: 15vh;
}

.footerFoot {
    border-top: 1px solid #fff;
}

.footCols li {
    list-style: none;
}

.footerFoot h4 {
    color: #fff;
    padding: 5vh;
    text-align: center;
}


/*  MEDIA QUERIES  */

/*  NAVBAR  */

@media screen and (max-width: 1200px) {
    header {
        padding-top: 7vh;
    }
    .navbar {
        align-items: center;
        justify-content: center;
    }    
    .logo {
        left: 6%;
        top: 3%;
    }
    .navButton {
        display: flex;
    }
    #myLinks {
        display: none;
        flex-direction: column;
    }
    #myLinks a:nth-child(3){
        margin-right: 1vh;
        margin-bottom: 6vh;
    }
}

/*  Landing Page Boxes  */

@media screen and (max-width: 600px) {
    .lpBoxes {
        flex-direction: column;
    }
    
    .box1, .box2, .box3 {
        margin-top: 5vh;
        max-width: 80%;
    }
}

/*  DOAÇÕES  */


@media screen and (max-width: 600px) {
    .doaSec {
        flex-direction: column;
    }
    
    .doaImg img {
        height: 55vh;
        margin-bottom: 10vh;
    }    
    
    .doaTxt {
        max-width: 80%;
    }
    
    .doaTxt h2 {
        font-size: 36px;
        margin-bottom: 3vh;
    }
    
    .doaTxt h3 {
        letter-spacing: 0.15vh;
    }
    
    .doaTxt li {
        font-size: 20px;
        letter-spacing: 0.1vh;
    }
}

/*  Notícias  */


@media screen and (max-width: 600px) {
    
    .newsHead h2 {
        font-size: 40px;
    }
    
    .newsContent {
        flex-direction: column;
    }
    
    .newsBlock img {
        height: 30vh;
    }

    .newsBlock p {
        font-weight: 300;
        margin-left: -45vw;
    }
    .newsBlock h4 {
        font-size: 20px;
    }
} 

/*  Footer  */


@media screen and (max-width: 600px) {  
    .footCols {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .footCol2, .footCol3, .footCol4 {
        font-size: 18px;
        font-weight: 300;
        padding: 3vh;
    }
    
    .footCol4 {
        border-left: transparent;
    }

    .footCols li {
        text-align: center;
    }
}