/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*  CSSZIN  */

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: hsl(48, 18%, 83%);
  }

  /*  NAVBAR  */

  nav {
    
  }

  /*  HAMBURGER BUTTON  */
  
  button {
    background: transparent;
    border: 10px solid var(--button-color, #000);
    border-radius: 1rem;
  }

  .button {
    --button-color: black;
    overflow: hidden;
  }
  
  .button .hamburger {
    transition: translate 1s, rotate 1s;
  }
  
  .button[aria-expanded="true"] .hamburger {
    translate: 10px -10px;
    rotate: 0.125turn;
  }
  
  .button .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  }
  
  .button[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }