/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*  CSSZIN  */

body {
    font-family: sans-serif;
    font-weight: bold;
}

header {
    background-color: #333;
}

/*  NAVBAR  */

.navbar {
    align-items: center;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 4%;
    top: 2%;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
}

#myLinks {
    align-items: center;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: flex;
    text-transform: uppercase;
}

#myLinks a {
    padding: 2vh 2vh;
    margin: 0 1vh;
}
#myLinks a:hover {
    background: #fff;
    color: #333;
}

#myLinks a:nth-child(3){
    margin-right: 4vh;
}

/*  HAMBURGER BUTTON  */

.navButton {
    background-color: transparent;
    border: transparent;
    --button-color: #ffffff;
    display: none;
    overflow: hidden;
    position: absolute;
    right: 5%;
    top: 1%;
}

.navButton svg {
    width: 5vh;
}
  
.navButton .hamburger {
    transition: translate 1s, rotate 1s;
}
  
.navButton[aria-expanded="true"] .hamburger {
    translate: 0 0;
    rotate: 0.125turn;
}
  
.navButton .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}
  
.navButton[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

/*  LANDING PAGE  */


/*  O QUE FAZEMOS  */

/*  MEDIA QUERIES  */

/*  NAVBAR  */

@media screen and (max-width: 1200px) {
    header {
        padding-top: 7vh;
    }
    .navbar {
        align-items: center;
        justify-content: center;
    }    
    .logo {
        left: 6%;
        top: 3%;
    }
    .navButton {
        display: flex;
    }
    #myLinks {
        display: none;
        flex-direction: column;
    }
    #myLinks a:nth-child(3){
        margin-right: 1vh;
        margin-bottom: 6vh;
    }
}